scikit-learn
gpustat
regex
ftfy
tqdm
huggingface_hub
safetensors
timm
braceexpand
pandas
webdataset==0.2.86
tensorboard
transformers==4.42.4
sentencepiece
submitit
pyarrow
mkl==2024.0.0
datasets
einops
numpy==1.26.4
pycocotools